*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#nav img{
    margin: 0px 10px;
    clip-path: circle(50% at 50% 50%);
}
#nav::before{
    content: "";
    background-color: lightgreen;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    top: 0px;
    left: 0px;
}

#nav ul{
    display: flex;
}
#nav ul li{
    list-style: none;
    font-size: 1.1rem;
}
#nav ul li a{
    flex: 15%;
    display: block;
    color: rgb(25, 9, 247);
    font-size: 1 rem;
    padding: 8px 15px;
    text-decoration: none;
}
#nav ul li a:hover{
    color: rgb(245, 239, 239);
    background-color: blue;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#time{
    float: inline-end
}
body{
    background-color: tomato;
    padding: 50px 70px;
    
}
#contact h1 {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    color: white;
    background-color: rgb(81 6 132);
    padding: 100px;
}
#contact h2{
    color: rgb(25, 27, 24);
    padding: 10px;
    background-color: #e41b1b;
    text-align: center;
    font-size: 40px ;
}
.container{
    background-color: skyblue;
    padding: 5px 20px 12px 20px;
    border-radius: 5px;
}
fieldset,input[type="text"],input[type="email"],input[type="number"],select,textarea{
    width: 100%;
    padding: 13px;
    border: 3px solid blanchedalmond;
    border-radius: 10px;
}
input[type="submit"]{
    color: white;
    background-color: blue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color:rgb(0, 255, 21);
    
    transition: all 1s ease-in-out;
}
.container img{
    position: absolute;
    left: 50px;
    width: 150px;
    height: 150px ;
    align-self: center;
    clip-path: circle(42.8% at 50% 50%);
}