#nav{
    flex-direction: column;
}
#nav ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 7px;
}
#home{
    height: 350px;
    padding: 3px 30px;
}
#home::before{
    height: 450px;
}
#home h1{
    font-size: 2.5rem;
}
#home h2{
    font-size: 1.5rem;
}
#home p{
    font-size: 13px;
}

#nav ul li a,input[type="submit"],#btn{
    padding: 5px 8px;
}
#nav ul li a:hover{
    padding: 5px 8px;
    border-radius: 40px;
}

#services{
    display: flex;
    flex-wrap: wrap;
    
}
#services .box{
    padding: 10px;
    margin: 2px 4px;
    margin-bottom: 17px;
    flex: 30%;
}
#services .box img{
    width: auto;
    height: auto;
    margin: auto;
    padding: 2px;
    display: block;
    
}
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
footer{
    font-size: large;
    padding: 13px;
}